<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BibleGetIO.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- Questa sezione definisce la configurazione di registrazione per My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Per scrivere nel log eventi dell'applicazione, rimuovere il commento dalla sezione sottostante -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Per scrivere nel log eventi dell'applicazione, rimuovere il commento dalla sezione sottostante e sostituire APPLICATION_NAME con il nome dell'applicazione -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <BibleGetIO.MySettings>
      <setting name="BookChapterBold" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BookChapterItalic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BookChapterUnderline" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BookChapterStrikethrough" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BookChapterForeColor" serializeAs="String">
        <value>0, 0, 64</value>
      </setting>
      <setting name="BookChapterBackColor" serializeAs="String">
        <value />
      </setting>
      <setting name="BookChapterFont" serializeAs="String">
        <value>Times New Roman, 12pt</value>
      </setting>
      <setting name="BookChapterVAlign" serializeAs="String">
        <value>baseline</value>
      </setting>
      <setting name="VerseNumberFont" serializeAs="String">
        <value>Times New Roman, 8.25pt</value>
      </setting>
      <setting name="VerseTextFont" serializeAs="String">
        <value>Times New Roman, 9.75pt</value>
      </setting>
      <setting name="VerseNumberBold" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VerseNumberItalic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VerseNumberUnderline" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VerseNumberStrikethrough" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VerseNumberForeColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="VerseNumberBackColor" serializeAs="String">
        <value />
      </setting>
      <setting name="VerseNumberVAlign" serializeAs="String">
        <value>super</value>
      </setting>
      <setting name="VerseTextBold" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VerseTextItalic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VerseTextUnderline" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VerseTextStrikethrough" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VerseTextForeColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="VerseTextBackColor" serializeAs="String">
        <value />
      </setting>
      <setting name="VerseTextVAlign" serializeAs="String">
        <value>baseline</value>
      </setting>
      <setting name="ParagraphAlignment" serializeAs="String">
        <value>justify</value>
      </setting>
      <setting name="Indent" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Linespacing" serializeAs="String">
        <value>1.5</value>
      </setting>
      <setting name="PreferredVersions" serializeAs="String">
        <value>CEI2008,NABRE</value>
      </setting>
      <setting name="NOVERSIONFORMATTING" serializeAs="String">
        <value>False</value>
      </setting>
    </BibleGetIO.MySettings>
  </userSettings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
</configuration>